<ul class="nav navbar-nav navbar-right">
    <li class="{{#if active_dashboard}}active{{/if}}"><a href="/">Dashboard</a></li>
    <li class="{{#if active_modules}}active{{/if}}"><a href="/modules">Modules</a></li>
    <li class="{{#if active_settings}}active{{/if}}"><a href="/settings">Settings</a></li>
</ul>