<head>
    <script type=text/javascript src="{{ url_for('static', filename='libs/jquery.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='libs/jquery-ui.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='libs/foundation.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='libs/modernizr.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='libs/fastclick.js') }}"></script>

    <script type=text/javascript src="{{ url_for('static', filename='js/control.js') }}"></script>

    <link href={{url_for('static', filename='theme/jquery-ui.css')}} rel="stylesheet">
    <link href={{url_for('static', filename='theme/app.css')}} rel="stylesheet">

    <title>Raspberry Pi Thermostat</title>
</head>
<body>
<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="/">RasPi Thermostat</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li><a href="/">Home</a> </li>
            <li class="active" ><a href="/control">Control</a></li>
            <li><a href="/graphs">Graphs</a></li>
        </ul>
    </section>
</nav>
<div class="contentWrapper">
    <div class="row" style="width: 25%">
        <div class="controlWrapper">
            <div id="control_temp">
                <h2 style="text-decoration: underline">Control Temp</h2>
                <form id="form_mode" action="/send_data" style="margin: 10px">
                    <input id="spinner" name="ctrl_temp_set">
                    <div id="radios" style="margin: 10px">
                        <input type="radio" id="heat" name="hvac_mode_set" value="heat"><label for="heat">Heat</label>
                        <input type="radio" id="cool" name="hvac_mode_set" value="cool"><label for="cool">Cool</label>
                        <input type="radio" id="off" name="hvac_mode_set" value="off"><label for="off">Off</label>
                    </div>
                    <button id="temp_set" type="submit">Set</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).foundation();
</script>
</body>
</html>